/* skip link styling */

.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .skip-links a{
    position: absolute;
    top: -5em;
    background-color: black;
    color:white;
    padding: .5em 1em;
    font-weight: bold;
  }
  .skip-links a:focus{
    top: 0;
  }



.container {
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Rubik', 'Open Sans', 'sans serif';
    font-size: 1em;
    background-color: white;
}

h1 {
    font-size: 3em;
    margin: 0;
    line-height: 65px;
}

p {
    color: #4F5665;
    line-height: 1.75em;
}

h1,
h2,
h3,
h4 {
    color: #0B132A;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
    line-height: 50px;
}

.fa-circle-check {
    padding-right: 1.25em;
}

ul {
    padding-left: 0;
}

/* UNIVERSAL STYLING FOR ELEMENTS */

.mast {
    margin-bottom: 6.25em;
}

.masternav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.nav-image {
    align-self: center;
}

.nav-image:hover {
    animation-name: logo-spin;
    animation-duration: 8s;
}

@keyframes logo-spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(720deg);
    }

    95% {
        transform: rotate(0deg);
    }
}

.nav-list {
    display: flex;
    gap: 1.5em;
    list-style-type: none;
}

.nav-list a {
    text-decoration: none;
    color: #0B132A;
}

.nav-buttons {
    align-self: center;
}

/* Sign in/Sign up BUTTONS */

.sign-in {
    color: #0B132A;
    font-weight: 600;
    margin-right: 25px;
}

.sign-up {
    border-style: solid;
    border-width: 1px;
    border-color: #530101;
    color: #530101;
    background-color: white;
    font-weight: 500;
    border-radius: 50px;
    padding: 10px 35px;
}

.banner {
    margin: auto;
    text-align: center;
    width: 90%;
}

.contact-t td {
    border: 1px solid #f53838;
    padding: 2em;
    text-align: center;
}

/* BASIC FORM EDITING */

caption {
    font-weight: 700;
    padding: 0.5em;
}

table {
    margin: auto;
    box-shadow: 10px 10px 25px #e8e8e8;
}

label {
    padding-right: 0.5em;
}

th {
    padding: 1em;
    border: 1px solid #f53838;
}

input {
    border: 1px solid #f53838;
    border-radius: 10px;
    padding: 0.5em;
}

/* END OF BASIC EDITING */


.contact-send {
    text-align: center;
    margin-top: 3em;
}

/* wrap container for horizontal design */

.contact-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.message-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

#message {
    margin-top: 0.25em;
    border: 1px solid #f53838;
    border-radius: 10px;
    padding: 0.5em;
}

#row {
    border: 1px solid #f53838;
    border-radius: 10px;
    padding: 0.5em;
}

.send-form {
    margin: 0.5em;
    width: 25%;
    padding: 2em 2em;
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: #530101;
    box-shadow: 10px 10px 25px #e4a6a6;
    border-radius: 10px;
    border: none;
}

.content-map {
    display: inline-block;
    padding: 0 2em 2em 2em;
    margin: 2em 0 2em 0;
    border: 1px solid #f53838;
    border-radius: 10px;
}

.content-map li {
    line-height: 1.25em;
}

.content-map a {
    font-weight: 500;
    line-height: 1.25em;
    color: #0B132A;
    border-bottom: 1px solid #0B132A;
}

.subscribe-card {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 10px 10px 25px #e8e8e8;
    width: 75%;
    padding: 2em;
    position: relative;
    border-radius: 10px;
}

/* SUBSCRIBE CARD SEL FLEX STYLING */
/* SUBSCRIBE BUTTON STAYS RELATIVE TO A FIXED POSITION */

.sub-text {
    width: 40%;
}

.sub-text h2 {
    font-size: 2.1em;
    font-weight: 600;
    margin-bottom: 0;
}

.subscribebtn {
    width: 25%;
    padding: 2em 2em;
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: #530101;
    box-shadow: 10px 10px 25px #e4a6a6;
    border-radius: 10px;
    border: none;
}

footer {
    margin: auto;
    margin-top: 5em;
    display: flex;
    justify-content: space-evenly;
    width: 75%;
}

.footer-copy {
    padding-right: 2.5em;
}

.footer-container-cont {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    gap: 1.5em;
}

.footer-container-cont div {
    flex-basis: 100%;
}

.link-text a {
    color: #4F5665;
    line-height: 2em;
}

@media screen and (max-width: 825px) {

    .masternav {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        text-align: center;
    }

    .nav-image {
        margin-bottom: 1em;
    }

    .nav-buttons {
        margin: 1em;
    }

    .masternav :nth-child(3) {
        order: 2;
    }

    .masternav :nth-child(2) {
        order: 3;
    }

    .sign-in {
        color: #0B132A;
        font-weight: 600;
        margin-right: 25px;
    }

    .sign-up {
        border-style: solid;
        border-width: 1px;
        border-color: #f53838;
        color: #f53838;
        background-color: white;
        font-weight: 500;
        border-radius: 50px;
        padding: 10px 35px;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
    }

    .nav-list a {
        text-decoration: none;
        padding: 0;
        color: #0B132A;
        border-bottom: 1px solid #f53838;
    }

    .nav-list a:hover {
        border-bottom: 2px solid #f53838;
    }

    /* MAKE TEAM AND SUBSCRIBER CARDS VERTICAL WHEN STYLING MOBILE */

    .contact-flex {
        flex-direction: column;
    }

    .send-form {
        width: 40%;
    }

    iframe {
        width: 100%;
    }

    .subscribe-card {
        display: flex;
        width: 75%;
        flex-direction: column;
        margin: auto;
        align-items: flex-start;
    }

    .subscribe-card p,
    .subscribe-card h2,
    .subscribebtn {
        width: 100%;
    }

    .subscribebtn {
        width: 100%;
    }

    .sub-text {
        width: auto;
    }


}